{% load static %}
<!DOCTYPE html>
<html lang="en">

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="author" content="Umang Parmar">
		<meta http-equiv="Expires" content="30">

		{% block description %}
		<meta name="description" content="Personal Blog, Tech Blog ">
		<meta name="description" content="Digital corner of mind of Umang Parmar">
		{% endblock %}

		{% block page_keywords %}
		<meta name="keywords" content="blog, tech, umang, darkLord19, stories">
		{% endblock %}

		{%block page_title%}
		<title>Umang Parmar</title>
		{% endblock %}

		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'blog/css/materialize.min.css' %}">

		<style>
			ul#footer li {
				display:inline;
			}
			body {
				display: flex;
				min-height: 100vh;
				flex-direction: column;
			}

			main {
				flex: 1 0 auto;
			}

			.link {
				color: green;
				text-decoration: underline;
			}

			.btn:hover {
				background-color:#ef5350 ;
			}
		</style>

	</head>

  	<body class="teal lighten-5">

		<nav class="teal darken-1" role="navigation">
			<div class="nav-wrapper container">
				<a id="logo-container" class="flow-text" href="{% url 'home_page' %}">Umang Parmar</a>
				<ul class="right hide-on-med-and-down">
					<li><a href="{% url 'home_page' %}">Home</a></li>
					<li><a class="dropdown-trigger" data-target="dropdown-cat" href="#">Categories</a></li>
					<ul id='dropdown-cat' class='dropdown-content teal lighten-5'>
						<li><a href="{% url 'posts_by_category' category='technology' %}">Technology</a></li>
						<li><a href="{% url 'posts_by_category' category='personal' %}">Personal</a></li>
						<li><a href="{% url 'posts_by_category' category='poetry' %}">Poetry</a></li>
						<li><a href="{% url 'posts_by_category' category='rants' %}">Rants</a></li>
						<li><a href="{% url 'posts_by_category' category='random' %}">Random</a></li>
					</ul>
					<li><a href="{% url 'about_me' %}">About Me</a></li>
					<li><a href="{% url 'contact_me' %}">Contact Me</a></li>
					<li><a href="{% url 'archive' %}">Archives</a></li>
					{% if user.is_authenticated %}
            			<li><a href="{% url 'post_new' %}">New Post</a></li>
            			<li><a href="{% url 'draft_list' %}" class="top-menu">Drafts</a></li>
            		{% endif %}
				</ul>

				<ul id="nav-mobile" class="sidenav teal lighten-5">
					<li><a href="{% url 'home_page' %}">Home</a></li>
					<li><a href="{% url 'about_me' %}">About Me</a></li>
					<li><a href="{% url 'contact_me' %}">Contact Me</a></li>
					<li><a href="{% url 'archive' %}">Archives</a></li>
				</ul>
				<a href="#" data-target="nav-mobile" class="sidenav-trigger">
					<i class="material-icons">menu</i></a>
			</div>
		</nav>

		{% block header %}
		{% endblock %}

		<main>

			<div class="container" style="margin-top: 12px">

				{% block post_details %}
				{% endblock %}

				{% block about %}
				{% endblock %}

				{% block contact %}
				{% endblock %}

				{% block edit %}
				{% endblock %}

				{% block content %}
				{% endblock %}

				{% block archive_view %}
				{% endblock %}

			</div>

		</main>

		<footer class="page-footer teal darken-2">
			<ul id="footer" class="center-align" style="text-decoration: underline;">
				<li><a class="white-text" href="https://www.github.com/darkLord19" target="_blank" rel="noopener"> github </a>|</li>
				<li><a class="white-text" href="https://www.linkedin.com/in/umang-parmar/" target="_blank" rel="noopener"> linkedin</a></li>
			</ul>
			<div class="footer-copyright">
				<div class="container center-align">
					Copyright © Umang Parmar {% now "Y" %}
				</div>
			</div>
		</footer>

	<script >
		document.addEventListener('DOMContentLoaded', function() {
			var elems = document.querySelectorAll('.sidenav');
			var instances = M.Sidenav.init(elems);
		});
		document.addEventListener('DOMContentLoaded', function() {
				var elems = document.querySelectorAll('select');
				var instances = M.FormSelect.init(elems);
		});
		document.addEventListener('DOMContentLoaded', function() {
			var elems = document.querySelectorAll('.collapsible');
			var instances = M.Collapsible.init(elems);
		});
		document.addEventListener('DOMContentLoaded', function () {
			var elems = document.querySelectorAll('.dropdown-trigger');
			var instances = M.Dropdown.init(elems, coverTrigger=false, hover=true);
		});
	</script>
    <script defer src="{% static 'blog/js/materialize.min.js' %}"></script>

  </body>

</html>
