{% extends 'blog/home.html' %}

{% block content %}

    {% for post in posts %}
        <div class="row valign-wrapper">
            <div class="col s12 m12 l12 valign">
              <div class="card grey lighten-5 hoverable">
                <div class="card-content dark-text">
                  <span class="card-title deep-purple-text"><b>{{ post.title }}</b></span>
                  <p>{{ post.summary | linebreaksbr }}</p>
                </div>
                <div class="card-action button">
                  <a class="waves-effect waves-light btn z-depth-2" href="{% url 'post_detail' year=post.published_date.year month=post.published_date.month slug=post.slug %}">Read More</a>
                  <p class="deep-purple-text">Published in {{ post.published_date.month }}/{{ post.published_date.year }}</p>
                </div>
              </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}